@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
html,
body {
  height: 100%;
  width: 100%;
  background: #3f4143;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Baloo Tammudu', cursive;
}

#timer {
  color: #f00;
  font-size: 50px;
  margin: 5px auto;
  border: 5px solid red;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#time {
  text-align: center;
  margin-top: 60px;
  z-index: 1;
  position: relative;
}

#filler {
  background: #ddffcc;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}


#buttons {
  text-align: center;
}

#buttons button {
  font-family: 'Baloo Tammudu', cursive;
  background: #4da6ff;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 70px;
  margin: 5px 5px;
  font-size: 16px;
  height: 40px;
  border-radius: 50px;
  outline: none;
}

#buttons button#shortBreak {
  background: #0c0;
}

#buttons button#longBreak {
  background: #080;
}

#buttons button#stop {
  background: #f00;
}
